/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 客製CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  display: flex;
  align-items: center;
}

img {
  display: block;
}

@font-face {
  font-family: 'SansTC';
  src: url('./assets/NotoSansTC-Light.otf');
}

@font-face {
  font-family: 'Italic';
  src: url('./assets/Roboto-Italic.ttf');
}

.globalRed {
  background-color: #AA0601;
}

.globalWhite {
  background-color: #FBF2F2;
}


.globalWordWhite {
  color: white;
}

.globalWordbrown {
  color: #650300;
}

.globalWordRed {
  color: #AA0601
}

.globalInputCoffee {
  background-color: #5F3E2D
}

.globalInputBlack {
  background-color: #000000
}

.globalInputTan {
  background-color: #B75929
}

html {
  font-size: 8px;
}

.s64 {
  font-size: 8rem;
  line-height: 1.5;
  font-weight: 100;
}

.s48 {
  font-size: 6rem;
  line-height: 1.5;
  font-weight: 100;
}

.s42 {
  font-size: 5.25rem;
  line-height: 1.5;
  font-weight: 100;
}

.s32 {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 100;
}

.s36 {
  font-size: 4.5rem;
  line-height: 1.5;
  font-weight: 100;
}

.s24 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 100;
}

.s20 {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 100;
}

.s19 {
  font-size: 2.375rem;
  line-height: 1.5;
  font-weight: 100;
}

.s18 {
  font-size: 2.25rem;
  line-height: 1.5;
  font-weight: 100;
}

.s16 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 100;
}

.s14 {
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 100;
}

.bold {
  font-weight: bold;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 36px;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 12px;
  }
}


.paddingTB80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.dfjcsb {
  display: flex;
  justify-content: space-between;
}

.dfjcsa {
  display: flex;
  justify-content: space-around;
}

.dfjccaic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dflex {
  display: flex;
}

.mgTop36 {
  margin-top: 36px;
}

.mgTop96 {
  margin-top: 96px;
}

.mgBot80 {
  margin-bottom: 80px;
}